h1 {
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-stretch: extended;
    text-align: center;
    letter-spacing: 1.5em;
    line-height: 3.8em;
}
.p-1{
     text-transform: capitalize;
    text-decoration: none;
    word-spacing: 120px;
}
.p-2 {
    text-transform: lowercase;
    font-weight: normal;
    font-style: italic;
    letter-spacing: 20px;
}
.p-3{
    text-transform: uppercase;
    font-size: xx-large; 
    font-weight: inherit;
}
.box {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #00ffff;
    font-size: 32px;
}
h1{
    background-color: burlywood;
    font-size: 64px;
    width: 75%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}
h2{
    background-color: burlywood;
    font-size: 300%;
    width: 70%;
    text-align: end;
    text-transform: capitalize;
    text-decoration: unset;
}
h3{
    background-color: burlywood;
    font-size: 2em;
    width: inherit;
    text-align: inherit;
    text-transform: inherit;
    text-decoration: inherit;
}
